html {
    touch-action: pan-y;
}

body {
    background: linear-gradient(180deg, rgba(59,34,42,1) 0%, rgba(22,7,9,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
}

input, textarea, button, select, a {
    -webkit-tap-highlight-color: transparent;
}

.primary-btn {
    position: relative;
    background: #F9226E;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #f5f5ff;
    padding: 0.5rem 0.75rem;
    border-radius: 12px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.103);
    user-select: none;
    outline: none;
    will-change: contents;
    scale: 1;
    min-width: 150px;
    height: 44px;
}

.primary-btn.hover {
    background: #D01C67;
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.055);
    scale: 1;
    transition: scale 150ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.primary-btn.active {
    background: #A7175C;
    box-shadow: 0px 0px 20px 20px rgba(255, 255, 255, 0);
    scale: 0.9875;
    transition: box-shadow 500ms cubic-bezier(0.075, 0.82, 0.165, 1), scale 150ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.primary-btn.disabled {
    background-color: #393939;
    color: #ABA4AA;
    cursor: default;
    scale: 1;
    box-shadow: none;
    pointer-events: none;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 40;
    color: #f5f5ff
}